/* icoontjes kleur */


.fa-brands {
    color: #fff
}

.maskedstyle {
    background-color: rgba(0, 0, 0, 0.6);


}

.colorblack {
    color: black
}

/* caption kwart page */
.caption {

    width: 100%;
    text-align: center;
    color: #000;
}

.caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}

.parent {

    display: flex;
    align-items: center;
    justify-content: center;
}

.child {
    width: 100%;

}



/* index stijl */

.backgroundfeetup {
    background-image: url("../img/index/homepage_resize.jpg");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: Cover;
  }

.backgroundzen {
    /* The image used */
    background-image: url("../img/interesses/photo-1531816247963-c7b28072d65d.jpg");
    /* Full height */
    height: 25%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.backgroundit {
    /* The image used */
    background-image: url("../img/overmij/christopher-gower-m_HRfLhgABo-unsplash.jpg");
    /* Full height */
    height: 25%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.backgroundcv {
    /* The image used */
    background-image: url("../img/cv/bram-naus-n8Qb1ZAkK88-unsplash.jpg");
    /* Full height */
    height: 25%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bod,
html {
    height: 100%;
    margin: 0;

}

.pershead {
    font-weight: 700;
    color: #333;
}

.perspar {
    font-size: 1.2em;
    color: #666;
}

ul.timeline-3 {
    list-style-type: none;
    position: relative;
  }
  ul.timeline-3:before {
    content: " ";
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
  }
  ul.timeline-3 > li {
    margin: 20px 0;
    padding-left: 20px;
  }
  ul.timeline-3 > li:before {
    content: " ";
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #bfc4c5;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
  }

  .carousel-item {
    height: 65vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  
  
  .text-marker {
  text-shadow: 1px 1px 2px black;
  }