/* icoontjes kleur */


.fa-brands {
    color: #fff
}

.maskedstyle {
    background-color: rgba(0, 0, 0, 0.6);


}

.colorblack {
    color: black
}

/* over mij */
.caption {
    position: absolute;
    left: 0;
    top: 17%;
    width: 100%;
    text-align: center;
    color: #000;
}

.caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}



/* index stijl */

.backgroundzen {
    /* The image used */
    background-image: url("../img/interesses/photo-1531816247963-c7b28072d65d.jpg");
    /* Full height */
    height: 25%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.backgroundit {
    /* The image used */
    background-image: url("../img/overmij/christopher-gower-m_HRfLhgABo-unsplash.jpg");
    /* Full height */
    height: 25%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bod,
html {
    height: 100%;
    margin: 0;
    
}

.pershead {
    font-weight: 700;
    color: #333;
  }
  
  .perspar {
    font-size: 1.2em;
    color: #666;
  }